@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
// @font-face {
//   font-family: "Petrona";
//   /* font-style: normal; */
//   /* font-weight: 400; */
//   src: url("/Petrona-VariableFont_wght.ttf") format("truetype");

// }
// @font-face {
//   font-family: "Petrona";
//   src: url("/Petrona-Italic-VariableFont_wght.ttf") format("truetype");
//   font-style: italic;
// }
// @font-face {
//   font-family: "JetBrains Mono";
//   font-style: normal;
//   font-weight: 400;
//   src: url("JetBrainsMono-Regular.ttf") format("truetype");
// }

/* @import url("./prism-gruvbox-dark.css"); */
@import url("/public/prism-coy-without-shadows.css");


code * {
  font-family: "JetBrains Mono";
}
* {
  -webkit-tap-highlight-color: transparent;
  --main-max-width: 40rem;
  --text-font-weight: 500;
  --link-font-weight: 800;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 100%;
  height: 100%;
  background: var(--accent-light);
  /* filter: invert() hue-rotate(2.14rad) saturate(0.5); */

}
html {
  width: 100%;
  height: 100%;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  touch-action: none;
}
